asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
cffi==1.12.3
chardet==3.0.4
cliapp==1.20170827
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
enum34==1.1.6
functools32==3.2.3.post2
gyp==0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
keyring==10.6.0
keyrings.alt==3.0
lxml==4.3.4
Markdown==2.6.9
parsel==1.5.1
psutil==5.4.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
PyDispatcher==2.0.5
Pygments==2.2.0
pygobject==3.26.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyxdg==0.25
PyYAML==3.12
queuelib==1.5.0
Scrapy==1.6.0
SecretStorage==2.3.1
service-identity==18.1.0
six==1.12.0
ttystatus==0.38
Twisted==19.2.1
w3lib==1.20.0
zope.interface==4.6.0
